/*------- RESET -------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-content {
  flex: 1;
}

/*------- COLORS -------*/
:root {
  --background-page: #f4f4f4;
  --background-div: #ffffff;
  --font-color: #1a1a1a;
  --logo-color: #FF6347;
  --border-color: #999;
  --icon-color: #1a1a1a;
  --success-color: #00c853;
  --error-color: #f44336;
}

.dark-mode {
  --background-page: #1d1d1d;
  --background-div: #242424;
  --font-color: #ffffff;
  --logo-color: #FF6347;
  --border-color: #333;
  --icon-color: #f1c40f;
  --success-color: #00c853;
  --error-color: #f44336;
}

body {
  background-color: var(--background-page);
  color: var(--font-color);
  transition: background-color 1s ease, color 1s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  transition: background-color 1s ease, color 1s ease;
}

button {
  transition: background-color 1s ease, color 1s ease;
}

input {
  transition: background-color 1s ease, color 1s ease;
}

form {
  transition: background-color 1s ease, color 1s ease;
}