{% extends "base.html" %}

{% block title %}
    Admin
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="admin-box">
        <h2>Admin Dashboard</h2>
        <div class="admin-buttons">
            <a href="{{ url_for('add_vehicle') }}" class="btn-submit">Add Vehicle</a>
            <a href="{{ url_for('vehicle_list') }}" class="btn-submit">List Vehicles</a>
            <a href="{{ url_for('user_list') }}" class="btn-submit">List Users</a>
        </div>
    </div>
{% endblock content %}
