{% extends "base.html" %}

{% block title %}
    Admin
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="admin-box">
        <h2>Admin Dashboard</h2>
        <div class="admin-buttons">
            <a href="{{ url_for('add_vehicle') }}" class="buttons-card">
                <img src="{{ url_for('static', filename='imgs/card_admin/add_vehicle.webp') }}"
                     alt="Supercar">
                <div class="buttons-overlay">
                    <h3>Add New Vehicle</h3>
                    <span>Add &rarr;</span>
                </div>
            </a>
            <a href="{{ url_for('vehicle_list') }}" class="buttons-card">
                <img src="{{ url_for('static', filename='imgs/card_admin/vehicle_list.jpeg') }}"
                     alt="Supercar">

                <div class="buttons-overlay">
                    <h3>Vehicle List</h3>
                    <span>View &rarr;</span>
                </div>
            </a>
            <a href="{{ url_for('user_list') }}" class="buttons-card">
                <img src="{{ url_for('static', filename='imgs/card_admin/user_list.jpeg') }}"
                     alt="Supercar">

                <div class="buttons-overlay">
                    <h3>User List</h3>
                    <span>View &rarr;</span>
                </div>
            </a>
            <a href="{{ url_for('request_list') }}" class="buttons-card">
                <img src="{{ url_for('static', filename='imgs/card_admin/request_list.jpg') }}"
                     alt="Supercar">

                <div class="buttons-overlay">
                    <h3>Request List</h3>
                    <span>View &rarr;</span>
                </div>
            </a>

        </div>
    </div>
{% endblock content %}
