<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OmniDrive -
            {% block title %}
            {% endblock title %}
        </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;700;800&display=swap"
              rel="stylesheet">

        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/header.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/footer.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/flash.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/form.css') }}"
              type="text/css">
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/checkbox.css') }}"
              type="text/css">

        {% block extra_css %}
        {% endblock extra_css %}

    </head>

    <body>
        <script>
            if (localStorage.getItem('theme') === 'dark') {
                document.body.classList.add('dark-mode');
            }
        </script>

        <div class="page-overlay" id="page-overlay">
            <div class="overlay-brand logo logo-fade">OmniDrive</div>
        </div>

        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="flash-container">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">
                                <span class="message-text">{{ message }}</span>
                                <button class="close-btn" onclick="this.parentElement.style.display='none'">&times;</button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <!--HEADER-->
        <header>
            <div class= "header-container">
                <div class= "left-header">
                    <a href="{{ url_for('index') }}" style="text-decoration: none;">
                        <div class="logo">OmniDrive</div>
                    </a>
                </div>
                <div>
                    <nav>
                        <!--Buttons Theme-->
                        <button id="theme-toggle" class="btn-theme">

                            <svg id="sun-icon"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round">
                                <circle cx="12" cy="12" r="5"></circle>
                                <line x1="12" y1="1" x2="12" y2="3"></line>
                                <line x1="12" y1="21" x2="12" y2="23"></line>
                                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                <line x1="1" y1="12" x2="3" y2="12"></line>
                                <line x1="21" y1="12" x2="23" y2="12"></line>
                                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                            </svg>

                            <svg id="moon-icon"
                                 style="display: none"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                            </svg>
                        </button>

                        <!--Buttons Login/Register/Profile-->
                        <div class="v-divider"></div>
                        {% if session.get('is_admin') %}
                            <a href="{{ url_for('admin') }}" class="btn b-profile">Manage</a>
                            <a href="{{ url_for('logout') }}" class="btn b-login">Logout</a>
                        {% endif %}

                        {% if session.user_id %}
                            <a href="{{ url_for('profile') }}" class="btn b-profile">Profile</a>
                            <a href="{{ url_for('logout') }}" class="btn b-login">Logout</a>
                        {% endif %}

                        {% if not session.get('is_admin') and not session.user_id %}
                            <a href="{{ url_for('login') }}" class="btn b-login">Login</a>
                            <a href="{{ url_for('register') }}" class="btn b-register">Register</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </header>

        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>

        <!--FOOTER-->
        <footer>
            <div class="footer-division">
                <!--Column Left-->
                <div class="footer-columns">
                    <a href="{{ url_for('index') }}" style="text-decoration: none;">
                        <div class="logo">OmniDrive</div>
                    </a>
                    <p>FRASI MOTIVAZIONALI SUL NOSTRO SITO WEB</p>
                </div>

                <!--Column Centre-->
                <div class="footer-columns">
                    <h1>Links</h1>
                    <ul>
                        <li>
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('search') }}">Search</a>
                        </li>
                        <li>
                            <a href="{{ url_for('profile') }}">Profile</a>
                        </li>
                        <li>
                            <a href="{{ url_for('contact') }}">Contact</a>
                        </li>
                    </ul>
                </div>

                <!--Column Right-->
                <div class="footer-columns">
                    <h1>Newsletter</h1>
                    <p>Subscribe to our newsletter</p>
                    <form class="newsletter">
                        <input type="email" placeholder="Insert your email">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>

            <!--Bottom-->
            <div class="footer-bottom">
                <div class="footer-links">
                    <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                    <a href="{{ url_for('terms_conditions') }}">Terms and Conditions</a>
                </div>
            </div>
        </footer>

        <script src="{{ url_for('static', filename='js/base.js') }}"></script>

        {% block extra_js %}
        {% endblock extra_js %}

    </body>
</html>
